body,  html {
    height: 100%;
    margin:0;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:aqua;
    background-color: #555;
}

.navigation_bar {
    background-color: darkslategray;
    overflow: hidden;
    height:100px;
    color:mediumaquamarine;
}

.navigation_bar a {
    float: left;
    display: inline;
    /**display:inline
    Arranges elements in a horizontal fashion**/
    color: mediumaquamarine;
    text-align: center;
    padding: 14px 16px;
}

.navigation_bar ul {
    margin:8px 0 0 0;
    list-style: none;
    /**list-style:none;
    Removes the bullets from the list of options**/
}

.navigation_bar a:hover {
    background-color:aqua;
    color:green;
    border-radius: 5px;
    /**border-radius;
    Creates rounded edges for the navigation bar**/
    font-weight: 400;
}

#main {
    width:100%;
}

.first_image, .second_image, .third_image, .fourth_image, .fifth_image, .sixth_image, .seventh_image {
    position:relative;
    /**position:relative;
    Arranges element to what would be its normal position**/
    opacity:0.70;
    background-position: center;
    /**background-position:center;
    Sets start position of the background image**/
    background-size:cover;
    /**background-size:cover
    Specifies the size of the background image**/
    background-repeat:no-repeat;
    /**background-repeat:no-repeat;
    Specifies how the image will be repeated**/
    background-attachment: fixed;
    z-index:2;
}

/**opacity:0.70;
The transparency of the image**/

/**background-repeat:no-repeat;
The background image will 0nly have one instance

background-attachments:fixed;
The background image will not scroll with the rest of the page**/


.first_image {
    background-image:url("../images/1.jpg");
    height:100%;
    z-index:2;
    min-height:600px;
}

.second_image {
    background-image:url("../images/2.jpg");
    height:100%;
    z-index:2;
    min-height:600px;
}

.third_image {
    background-image:url("../images/3.jpg");
    height:100%;
    z-index:2;
    min-height:600px;
}

.fourth_image {
    background-image:url("../images/4.jpg");
    height:100%;
    z-index:2;
    min-height:600px;
}

.fifth_image {
    background-image:url("../images/5.jpg");
    height:100%;
    z-index:2;
    min-height:600px;
}

.sixth_image {
    background-image:url("../images/6.jpg");
    height:100%;
    z-index:2;
    min-height:600px;
}

.seventh_image {
    background-image:url("../images/7.jpg");
    height:100%;
    z-index:2;
    min-height:600px;
}

.section {
    text-align: center;
    padding: 50px 80px;
    overflow: hidden;
    position: relative;
    font-size: 18px;
}

.section .border {
    background-position: 0 0;
    position:absolute;
    top: -0%;
    bottom: -50%;
    left:0;
    right:0;
}

.section-light {
    border:solid 2px chartreuse;
    background-color: aliceblue;
    color:cornflowerblue;
}

.section-dark {
    border:solid 2px dodgerblue;
    background-color: gray;
    color:white;
}

.image_text {
    position:absolute;
    top:50%;
    width:100%;
    text-align: center;
    color:chartreuse;
    font-size:30px;
    letter-spacing: 8px;
    text-transform: uppercase;
    display:inline;
    opacity:0.70;
}

.image_text .border {
    background-color: #111;
    padding:20px;
    border-radius:15px;
    border:solid 0.5px dodgerblue;
}

.image_text .border .trans {
    background-color:transparent;
}